boto3
botocore
termcolor
colored
colorama
justify
justifytext
prompt_toolkit
awscli
pypager
nuitka
psutil
pyinstaller
Cython
crtsh
scapy
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability